body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

footer {
	margin: 50px 0;
}

/******************* Gallery *******************/
/* Grid: Four equal columns that floats next to each other */
.gallery-column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Grid images */
.gallery-column img {
    opacity: 0.8; 
    cursor: pointer; 
    object-fit: cover;
    width: 90%;
    aspect-ratio: 1 / 1;
}

.gallery-column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.gallery-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Expanded image transluscent background */
.gallery-popup-background {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Expanded image */
.gallery-expanded-image {
    position: relative;
    display: none;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Close button */
.gallery-expanded-image .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* Header */
.gallery-expanded-image .text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
