body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

footer {
	margin: 50px 0;
}

/******************* Gallery *******************/
/* Grid: Four equal columns that floats next to each other */
.gallery-column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Grid images */
.gallery-column img {
    opacity: 0.8; 
    cursor: pointer; 
    object-fit: cover;
    width: 90%;
    aspect-ratio: 1 / 1;
}

.gallery-column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.gallery-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Expanded image transluscent background */
.gallery-popup-background {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: animatefade;
    animation-duration: 0.5s;
}

/* Expanded image */
.gallery-expanded-image {
    position: relative;
    display: inline-block;
    margin: auto;
    margin-top: 5%;
    animation-name: animatefade;
    animation-duration: 0.2s;
    text-align: left;
}

.gallery-expanded-image #expandedImg {
    display: block;
    top: 80%;
    max-width:100%;
    max-height:100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Close button */
.gallery-expanded-image .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

/* Caption button */
.gallery-expanded-image .captionbtn {
    position: absolute;
    bottom: 10px;
    right: 15px;
    z-index: 1;
    color: white;
    cursor: pointer;
    max-width: 7%;
    max-height: 7%;
}
/* Caption button image*/
.gallery-expanded-image .captionbtn img{
    max-width: 100%;
    max-height: 100%;
}

/* Caption */
.gallery-expanded-image .text {
    position: absolute;
    display: none;
    width: 100%;
    max-height: 40%;
    bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    color: white;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    word-wrap: break-word;
}

/* Add Animation */
@keyframes animatefade {
    from {opacity: 0}
    to {opacity: 1}
  }
