<!-- Gallery grid -->
<div class="gallery-row">

    <div class="gallery-column">
        <img src="asherphoto4.png" alt="hi" onclick="expandImage(this);" id="image"
            header="January 27th 2023"
            description="In this photo Asher was laying on the beanbag underneath a blanket. He then proceeded to follow me into the kitchen while I making food but took the blanket with him. He could not figure out how to remove the blanket and instead stood there and stared at me letting out little yips until I removed the blanket for him."/>
    </div>

    <div class="gallery-column">
        <img src="asherphoto6.jpg" alt="hi" onclick="expandImage(this);" style="cursor: pointer;" id="image"
            header="July 23rd, 2022"
            description="This day was a first for Asher. He went to an actual groomer and got a fancy cut and a little handkercheif as a cherry on top. Feeling on top of the world."/>
    </div>

    <div class="gallery-column">
        <img src="asherphoto7.jpg" alt="hi" onclick="expandImage(this);" style="cursor: pointer;" id="image"
            header="September 21st 2022"
            description="Today Asher spent some time with his bestie in her room. As you can see he has his imfamous smile on his face showing just a little bit of teeth."/>
    </div>
    
    <div class="gallery-column">
        <img src="asherphoto13.png" alt="hi" onclick="expandImage(this);" id="image"
            header="March 20th 2022"
            description="On this day we learned about this event called Holi. Asher loved being around so many people and getting covered in colors by people petting him."/>
    </div>

</div>

<div class="gallery-row">

    <div class="gallery-column">
        <img src="asherphoto9.png" alt="hi" onclick="expandImage(this);" id="image"
            header="January 27th 2023"
            description="Just a little nap time."/>
    </div>

    <div class="gallery-column">
        <img src="asherphoto14.png" alt="hi" onclick="expandImage(this);" style="cursor: pointer;" id="image"
            header="January 5, 2022"
            description="Three days after being picked up at the gas station my new family shaved me down. I was a little curious pup and hopped up onto the window to see outside."/>
    </div>

    <div class="gallery-column">
        <img src="asherphoto11.png" alt="hi" onclick="expandImage(this);" style="cursor: pointer;" id="image"
            header="February 11th, 2023"
            description="Today there was a birthday party in the house and Asher was all dressed up. He was feeling like a dapper gentleman."/>
    </div>
    
    <div class="gallery-column">
        <img src="asherphoto12.png" alt="hi" onclick="expandImage(this);" id="image"
            header="February 7th 2023"
            description="Come on just one pet please"/>
    </div>

</div>

<!-- Expanding image container -->
<div class="gallery-expanded-image">
    <!-- Close the image -->
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  
    <!-- Expanded image -->
    <img id="expandedImg" style="width:100%">

    <div class="text">
        <!-- Image header -->
        <h3 id="imgHeader"></h3>
    
        <!-- Image description -->
        <p id="imgDescription"></p>
    </div>
    
</div>

<script>
function expandImage(img) {
    var expandedImg = document.getElementById("expandedImg");
    var imgHeader = document.getElementById("imgHeader");
    var imgText = document.getElementById("imgDescription");

    expandedImg.src = $(img).attr("src");
    imgHeader.innerText = $(img).attr("header");
    imgText.innerText = $(img).attr("description");

    expandedImg.parentElement.style.display = "block";
    console.log(expandedImg.style.display);
}
</script>
